@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --headers: #24273a;
    --subheaders: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #24273a;
        --foreground: #ededed;
        --headers: #a6da95;
        --subheaders: #b5bfe2;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    color: var(--headers);
}

h2 {
    font-size: large;
    font-weight: bold;
    color: var(--subheaders);
}
